<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
      <% if user_signed_in? %>
        <% if current_user.driver? %>
          <a class="navbar-brand" href="/driverindex.html">
            <%= image_tag "Black logo.png" %>
          </a>
        <% else %>
          <a class="navbar-brand" href="/orders/new.html">
            <%= image_tag "Black logo.png" %>
          </a>
        <% end %>
      <% end %>
    </div>
    <%# Drop Down %>
    <a class="nav-link" id="navbarDropdown" href="#"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-bars" style="font-size: 2rem;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# Drop Down %>
          <% if current_user.driver? %>
            <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "New jobs", driverindex_path, class: "dropdown-item" %>
              <%= link_to "Ongoing jobs", driveracceptedorders_path, class: "dropdown-item" %>
              <%= link_to "Completed jobs", drivershow_path, class: "dropdown-item" %>
              <%= button_to"Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "New Order", root_path, class: "dropdown-item" %>
              <%= link_to "My Orders", orders_path(@orders), class: "dropdown-item" %>
              <%= button_to"Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
