<div class="background-container">
  <div class="one" id="img-driverindex">
    <%# <div class="banner"> %>
      <%# <div class="circle">
        <div class="circle-icon">
          <i class="fa-solid fa-dolly fa-2xl" style="color: #ff731d;"></i>
        </div>
      </div> %>
    <%# </div> %>
  </div>

  <h1 class="my-3">Accept new job</h1>
  <% @orders.each do |order| %>
    <div class="card mb-3">
      <div class="card-header"><%= order.status %></div>
          <div class="card-body text-dark">
            <h5 class="card-title">Date: <%= order.pickup_at.strftime("%Y-%m-%d") %></h5>
            <h5 class="card-title">Time: <%= order.pickup_at.strftime("%H:%M") %></h5>
            <%# < class="card-text">Price: <%= order.price %>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-blue btn-accept"
                  data-controller="popover"
                  data-bs-toggle="popover"
                  data-bs-placement="bottom"
                  data-bs-content="Pickup Address: <%= order.pickup_address.titleize %>.
                  Drop-off Address: <%= order.dropoff_address.titleize %>.">
                  More details
                </button>
              </div>
              <div class="col-6">
                <%= button_to "Accept", order_accept_path(order), class: "btn btn-blue btn-accept",  method: :patch %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
