<div class="container">
  <%= render '4-steps' %>
  <h1>Details</h1>
</div>
<div class="card-light-orange">
  <h2> <i class="fa-solid fa-location-dot fa-2xl pin" style="color: #ff731d;"></i>   Pick-up information</h2>
  <%= simple_form_for@order, html: { "data-turbo-frame": false } do |f| %>
    <%# <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <% if @order.pickup_name.present? && @order.pickup_contact_phone.present? && @order.item_size.present? && @order.dropoff_name.present? && @order.dropoff_contact_phone.present? %>
        <%= f.input :pickup_address, :label => "Pick-up address"%>
        <%= f.input :pickup_at, :label => "Pick-up time", as: :time, html5: true, input_html: { min: Time.now.strftime('%Y-%m-%dT%H:%M') }%>
      <% end %>
      <%= f.input :pickup_name, :label => "Name of sender"%>
      <%= f.input :pickup_contact_phone, :label => "Phone No. of sender"%>

      <%= f.input :item_size,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: Order::SIZES %>
      <div data-controller="sizeguide" data-action="click->sizeguide#appear">
        <p >Size guide <i class="fa-solid fa-circle-info" style="color: #ff731d;" data-sizeguide-target="button"></i></p>
        <div id="card-sm" class="hidden" data-sizeguide-target="list" >
          <ul class="list-unstyled m-0">Length x Width x Height (cm)
            <li>Small: 20 x 30 x 10</li>
            <li>Medium: 30 x 50 x 20</li>
            <li>Large: 50 x 75 x 50</li></ul>
        </div>
      </div>
      <%= f.input :pickup_additional_detail, :label => "Anything we need to know when we pick up the item? (optional)" %>
    </div>
  </div>
  <div class="card-light-orange">
    <h2><i class="fa-solid fa-location-dot fa-2xl pin" style="color: #ff731d;" ></i>   Drop-off information</h2>
    <div class="form-inputs">
      <% if @order.pickup_name.present? && @order.pickup_contact_phone.present? && @order.item_size.present? && @order.dropoff_name.present? && @order.dropoff_contact_phone.present? %>
        <%= f.input :dropoff_address, :label => "Drop-off address"%>
      <% end %>
      <%= f.input :dropoff_name, :label => "Name of recipient" %>
      <%= f.input :dropoff_contact_phone, :label => "Phone no. of recipient" %>
      <%= f.input :dropoff_additional_detail, :label => "Anything we need to know when we pick up the item? (optional)" %>
      <%= f.button :submit, 'Next', class: "btn btn-blue"%>
    </div>
  <% end %>
</div>
</div>
