<div class="container">
  <% if @order.driver_id != current_user.id %>
    <%= render '4-steps' %>
  <% end %>
  <div id= "map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"></div>
  <div class="container-background" style="text-align: center">
    <h1>Summary</h1>
    <% if @order.driver_id != current_user.id %>
      <span class="badge">
        <% if  @order.trip_duration.in_hours.floor < 1 %>
          <h5>Your order will take approximately:</h5>
          <br>
          <h3><%= pluralize @order.trip_duration.in_minutes.ceil, "Minute" %></h3>
        <% else %>
          <h5>Your order will take approximately:</h5>
          <br>
          <h3><%= pluralize @order.trip_duration.in_hours.floor, "Hour" %> <%= pluralize (@order.trip_duration.in_minutes.ceil - @order.trip_duration.in_hours.floor * 60), "Minute" %></h3>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="card-light-orange">
    <div class="card-flex">
      <i class="fa-solid fa-location-dot fa-2xl" style="color: #ff731d;"></i>
      <h2>Pick-up information:</h2>
      <div>
      <% if @order.driver_id != current_user.id %>
        <%= link_to edit_order_path(@order) do %>
          <i class="fa-solid fa-pen fa-lg" style="color: #1746a2;"></i>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="card-summary">
      <h5>Pick-up address</h5>
      <p><%= @order.pickup_address.titleize%></p>
      <h5>Pick-up time</h5>
      <p><%= @order.pickup_at.strftime('%Y-%m-%d %H:%M') %></p>
      <h5>Name & phone No. of sender</h5>
      <p><%= @order.pickup_name.titleize %></p>
      <p><%= @order.pickup_contact_phone %></p>
      <h5>Additional information</h5>
      <p><%= @order.pickup_additional_detail %></p>
    </div>
    <hr>
    <div class="card-flex">
      <i class="fa-solid fa-location-dot fa-2xl" style="color: #ff731d;"></i>
      <h2>Drop-off information:</h2>
      <div></div>
    </div>
    <div class="card-summary">
      <h5>Drop-off address</h5>
      <p><%= @order.dropoff_address.titleize%></p>
      <h5>Drop-off time</h5>
      <p><%= @order.dropoff_at.strftime('%Y-%m-%d %H:%M') %></p>
      <h5>Name & phone No. of recipient</h5>
      <p><%= @order.dropoff_name.titleize %></p>
      <p><%= @order.dropoff_contact_phone  %></p>
      <h5>Additional information</h5>
      <p><%= @order.dropoff_additional_detail %></p>
    </div>
    <% if @order.driver_id != current_user.id %>
      <div class="text-center mt-2 mb-1">
        <%= button_to "Submit order:      #{@order.price} CHF", order_submit_path(@order), class:"btn btn-blue", method: :patch %>
          <%# <input class="btn btn-blue" type="submit" value="Request order"> %>
      </div>
    <% else %>
      <div class="mt-2 m-auto">
        <%= button_to "Mark as completed", order_markascompleted_path(@order), class:"btn btn-blue", method: :patch %>
      </div>
      <div class="m-auto">
        <%= button_to "Back", driverindex_path, class:"btn btn-blue", method: :get %>
      </div>
    <% end %>
  </div>
</div>
