<div class="container">
  <%= render '4-steps' %>
  <div class= "one" id="img-specialshow">
  </div>
  <% if @order.status == "Submitted" && (@order.pickup_at <= Time.now + 15.minutes) %>
    <h1 class="m-3">Sorry, no driver was available</h1>
  <% elsif %>
    <div class="card-cover">
      <div class="card-light-orange">
        <h5 class="card-header">Status: <%= @order.status %>
        <div class="card-body">
          <h5 class="card-text">Approximate Drop-off time: <%= @order.dropoff_at.strftime("%H:%M") %></h5>
          <p class="card-title">Drop-off address: <%= @order.dropoff_address.titleize %></p>
          <%# <p class="card-text">Price:  <%= @order.price</p> %>
          <hr>

          <% if @order.status == "Accepted"%>
            <div class="container">
              <div class="row">

                <div class="col-6">
                  <p class="card-text"> Driver: <%=User.find(@order.driver_id).name%></p>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-blue"
                    data-controller="popover"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content= <%= User.find(@order.driver_id).contact_phone %> >
                      Call Driver
                    </button>
                  </div>
                </div>
              </div>
            <%end%>
            <div class="d-grid">
              <% if @order.status == "Submitted" && (@order.pickup_at > Time.now + 15.minutes) %>
                <%= button_to "Cancel Order", order_cancel_path(@order), class:"btn btn-blue", method: :patch %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="mx-4">
      <%= button_to "All orders", orders_path(@orders), class:"btn btn-blue", method: :get %>
    </div>
  </div>
</div>
